<%- if %w{amdahl arm-conova-01 arm-conova-02 arm-arm-01 arm-ubc-01 arm-ubc-02 arm-ubc-03 arm-ubc-04 arm-ubc-05 arm-ubc-06}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=ttyAMA0,115200n8"
<%- elsif %w{arm-arm-03}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=ttyS0,115200"
<%- elsif %w{conova-node01 conova-node02}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=ttyS0,115200 earlycon"
<%- elsif %w{storace fasolo klecker clementi czerny casulana mirror-umn}.include?(@hostname) then -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=tty0 console=ttyS1,115200n8"
<% else -%>
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX console=tty0 console=ttyS0,115200n8"
<%- end -%>
