##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

RLimitCPU 180
RLimitMEM <%= @rlimitmem %>
RLimitNPROC <%= @rlimitnproc %>
