##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<% @enclosed_addresses_apache.each do |bind| -%>
  Use common-debian-service-https-redirect "<%= bind %>" "<%= @syncproxy_name %>"
<% end -%>

<Virtualhost <%= @enclosed_addresses_apache.map { |bind| "#{bind}:443" }.join(' ') %> >
   ServerName <%= @syncproxy_name %>
   DocumentRoot /srv/www/syncproxy.debian.org/htdocs

   Use common-debian-service-ssl <%= @syncproxy_name %>
   Use common-ssl-HSTS
   Use http-pkp-<%= @syncproxy_name %>

   <Directory /srv/www/syncproxy.debian.org/htdocs>
      Require all granted
   </Directory>

   CustomLog /var/log/apache2/syncproxy.debian.org-access.log privacy
   ErrorLog /var/log/apache2/syncproxy.debian.org-error.log

<%=
lines = []
%w{debian debian-debug debian-ports debian-security}.each do |archive|
  varname = ('has' + @mirror_basedir_prefix + archive).gsub(/[\/-]/,'_')
  if has_variable?(varname) and (eval("@"+varname))
    lines << "  Alias /#{archive}/project/trace/ #{@mirror_basedir_prefix}#{archive}/project/trace/"
    lines << "  <Directory #{@mirror_basedir_prefix}#{archive}/project/trace/>"
    lines << "    Require all granted"
    lines << "    Options +Indexes"
    lines << "  </Directory>"
  end
end

lines.join("\n")
%>

</VirtualHost>

# vim: set ts=3 sw=3 et:
