##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<%=
nodeinfo = scope.lookupvar('deprecated::nodeinfo')
out = []

restricted_purposes = ['kvm host', 'ganeti/kvm host', 'central syslog server', 'puppet master', 'jumphost', 'buildd', 'static-mirror', 'anycast mirror']
restrict_ssh = %w{tchaikovsky draghi adayevskaya static-master-grnet-01 static-master-ubc-01 geo1 geo2 geo3 denis}

if (nodeinfo['ldap'].has_key?('purpose')) then
	nodeinfo['ldap']['purpose'].each do |purp|
		if restricted_purposes.include?(purp) then
			restrict_ssh << @hostname
		end
	end
end

sshallowed = []

should_restrict = restrict_ssh.include?(@hostname)

if should_restrict then
	# draghi makes for a nice jumphost
	sshallowed << %w{$DSA_IPS 82.195.75.106 2001:41b8:202:deb:1a1a:0:52c3:4b6a}

	if %w{draghi}.include?(@hostname) then
		sshallowed << '$HOST_DEBIAN'
	end

	if %w{adayevskaya}.include?(@hostname) then
		out << '@def $MFL_LOCAL = ( 130.83.226.60 );' # Michael Fladerer
		sshallowed << '$MFL_LOCAL'
		sshallowed << %w{$HOST_DEBIAN}
	end
end
if sshallowed.length == 0 then
  sshallowed << '0.0.0.0/0'
  sshallowed << '::/0'
end

out << "@def $SSH_SOURCES    = ( $SSH_SOURCES    #{sshallowed.join(' ')});"


out.join("\n")
%>
