##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<%=
ignore = []
case @fqdn
when /draghi.debian.org/ then                                  ignore << %w{userdir-ldap userdir-ldap-cgi libheimdal-kadm5-perl django-ldapdb ud python-cdb python-nameparser python-django-ldapdb}
when "handel.debian.org" then                                  ignore << %w{puppet-dashboard}
when "reger.debian.org" then                                   ignore << %w{librt-extension-commandbymail-perl}
when "sibelius.debian.org" then                                ignore << %w{tivsm-ba tivsm-bacit tivsm-api64 gskssl64 gskcrypt64 tivsm-api tivsm-apicit gskssl gskcrypt}
when /(sallinen|lw07).debian.org/ then                         ignore << %w{ruby-dbi ruby-deprecated ruby-dbd-pg}
when /(storace|backuphost).debian.org/ then                    ignore << %w{postgresql-client-9.6}
end

ignore.flatten.join("\n")
%>
